='<?xml version="1.0" encoding="UTF-8"?>'.html_safe
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9", 'xmlns:news' => "http://www.google.com/schemas/sitemap-news/0.9"}
  -@posts.each do |post|
    %url
      %loc= url_to_post post, true
      %news:news
        %news:publication
          %news:name Foxycoder.com
          %news:language en
        %news:genres Blog
        %news:publication_date= post.created_at.to_s[0..9]
        %news:title= post.title