='<?xml version="1.0" encoding="UTF-8"?>'.html_safe
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9", 'xmlns:image' => "http://www.sitemaps.org/schemas/sitemap-image/1.1"}
  -@posts.each do |post|
    %url
      %loc= url_to_post post, true
      -if post.images.any?
        %image:image
          - found = false
          -post.images.each do |image|
            - if image.file? and found == false
              %image:loc
                = image.file_url(:thumb)
                - found = true